[run]
branch = True
omit =
  */src/*
  imaging_transcriptomics/reporting.py
  imaging_transcriptomics/pls.py
  imaging_transcriptomics/corr.py
  imaging_transcriptomics/genes.py
  imaging_transcriptomics/script/*
