h5py==3.3.0
numpy
pytest==6.2.4
tqdm==4.61.2
scikit-learn==0.24.2
scipy>=1.11.0
pandas>=1.3.1
joblib>=1.2.0
setuptools==52.0.0
pyyaml==5.4.1
statsmodels>=0.12.2
nibabel>=3.2.1
matplotlib
netneurotools==0.2.3
gseapy>=1.0.0
nilearn==0.8.1
enigmatoolbox>=1.1.3
vtk==9.1.0
numba==0.55.1
